@media only screen and (min-width:300px) and (max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;

    }
    .menu .navbar{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #886a4a;
        display: none;
    }
    .menu .navbar ul li a:hover{
        color: #1b1726;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: inline;
    }
    .header{
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }
    .header-txt{
        text-align: center;
        flex-basis: 100%;
    }
    .header-txt h1{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .butons{
        justify-content: center;
    }
    .btn-1:last-of-type{
        margin-right: 0;
    }
    .popular{
        display: none;
    }
    .product{
        padding: 30px;
    }
    .product-content{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .product-1 img{
        width: 100%;
    }
    .contact{
       padding: 30px; 
    }
    form{
        flex-direction: column;
    }
    input{
        margin: 0 0 20px 0;
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .link ul{
        margin-top: 20px;
    }
}